{{file:./.reek.yml}}:{{startLine:59}}:{{startColumn:5}}: [{{level:error}}] {{message:wrong indentation: expected 6 but found 4 (indentation)}}
{{file:./.circleci/config.yml}}:{{startLine:1}}:{{startColumn:1}}: [{{level:warning}}] {{message:missing document start "---" (document-start)}}
{{file:./.circleci/config.yml}}:{{startLine:22}}:{{startColumn:17}}: [{{level:error}}] {{message:too many spaces after colon (colons)}}
{{file:./.circleci/config.yml}}:{{startLine:25}}:{{startColumn:81}}: [{{level:error}}] {{message:line too long (125 > 80 characters) (line-length)}}
{{file:./test/apps/rails2/config/locales/en.yml}}:{{startLine:5}}:{{startColumn:23}}: [{{level:error}}] {{message:no new line character at the end of file (new-line-at-end-of-file)}}
{{file:./test/apps/rails5/config/secrets.yml}}:{{startLine:25}}:{{startColumn:1}}: [{{level:error}}] {{message:syntax error: could not find expected ':' (syntax)}}

{{baseDir=/home/rocro}}
{{lineOriginZero=false}}
{{columnOriginZero=false}}
{{levelMap= {} }}
